{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Recipes</title>
  </head>
  <body>
    <section class="container">
      <h1>Добро пожаловать на сайт вкусных рецептов</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse
        laudantium veritatis incidunt neque dolores, natus corrupti impedit iure
        temporibus vero vel nulla rem obcaecati quibusdam expedita dolore, est
        nisi corporis dignissimos illo earum fuga! Libero tempore cumque omnis
        veritatis suscipit quis laudantium, mollitia nostrum ab odit, asperiores
        voluptate, saepe commodi ipsum quasi ipsam quo unde pariatur ratione
        dignissimos. Distinctio debitis aperiam et eligendi eaque facere quis
        consectetur tempore voluptatem nemo minima beatae veritatis repellendus,
        quisquam fugiat nam! Laborum doloribus reiciendis inventore veritatis,
        nisi voluptatum mollitia repellendus ratione dolorem ducimus qui,
        adipisci totam id blanditiis enim voluptas quisquam dolore corrupti!
        Consequatur recusandae blanditiis nam nesciunt rerum labore, iure
        placeat inventore dignissimos error quam natus. Totam ut reprehenderit
        eum maxime in aut qui id, corrupti magni possimus mollitia laborum
        libero. At asperiores iusto quisquam est distinctio deleniti omnis saepe
        sed adipisci, tempora explicabo dolorem natus illo, aliquam sint? Cum
        eius, ea earum iusto quaerat dignissimos at est facere facilis tempore
        explicabo ab cumque, ut praesentium aliquam! Aliquid nobis, nemo cum
        corporis ut laboriosam commodi molestias. Voluptas velit itaque dolores
        quam quae placeat unde facere animi provident quos, soluta eveniet, eos,
        odit reprehenderit est ipsam adipisci sequi corporis voluptatem dolor
        libero. Sequi, quo.
      </p>
    </section>
    <footer class="container">
      <p class="footer_text">© All Rights Reserved.</p>
    </footer>
  </body>
</html>
